ul {
    background-color:darkturquoise ;
    

}

li{
    background-color:deeppink;
    

}

img {
    width:900;
    height:900;
}

.top{
    font-size: :xx-large;
}

.dropdown-menu li a, .dropdown-toggle {
    color:white;

}

td{
    font-size: x-large;
    color:darkturquoise ;
}

table{
    background-color:deeppink;
}

body {
    background-color: deeppink;
    background-image: url("https://i.pinimg.com/originals/a9/b8/6c/a9b86c948fd8dc5cf2f46fa313d24083.jpg");
}

.front{
    color:black;
}

p {
    font-size: x-large;
    font-weight: 700;
    color: black;
}

.pink a{
    color:deeppink;
}

.blue a{
    color:black;
}


